*.user
.DS_Store
.idea

ConsoleClient/bin
ConsoleClient/obj

GameLogics/bin
GameLogics/obj

Server/bin
Server/obj

UnityClient/Library
UnityClient/Logs
UnityClient/Temp
UnityClient/obj
UnityClient/*.sln
UnityClient/*.csproj
UnityClient/Assets/Plugins/GameLogics

UnitTests/bin
UnitTests/obj
